<div class="container">
  <div class="image">
    <%= image_tag("zombierush.jpg") %>
  </div>

  <div class="content">
    <h1>Can you out run the zombie?</h1>
    <h2>
    <section class="user-data">
      <dl class="dl-horizontal">
        <dt>Name: <%= @user_data["displayName"] %></dt>
        <dt>Distance: <%= @api["summary"]["distances"][0]["distance"] %></dt>
        <dt>Status: Human</dt>
      </dl>
    </section>

    <section class="user-data">
      <dl class="dl-horizontal">
        <dt>Name: <%= @zombie_data["displayName"] %></dt>
        <dt>Distance: <%= @api_zombie["summary"]["distances"][0]["distance"] %></dt>
        <dt>Status: Zombie</dt>
      </dl>
    </section>
  </h2>

    <button name="zombie?">
      Did you outrun the zombie?
    </button>
  </div>

</div>
